/node_modules
/public/hot
/public/includes
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
dump.rdb
.DS_Store
/storage/tenant*
.vscode
auth.json
/storage/tenant*
.editorconfig

__MACOSX
/encrypted

/public/js/app.js
/resources/js/ziggy.js
